body
{
    background-image: url("alex.jpg");
}
h1
{
    text-decoration: overline;
    text-align: center;
    text-indent: 50px;
   
}
#para1
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:greenyellow;
font-size: 22px;

}
#para2
{
    font-family: sans-serif;
    color:black;
    font-size: 30px; 
}
.mystyle
{
    font-family: Arial, Helvetica, sans-serif;
    color:plum;
    font-size: 50px;  
}